<app-navbar></app-navbar>

<!-- Semantic HTML Tags -->
<main class="container my-4">
  <div class="row">
    <aside class="col-2">
      <app-brand-list-group></app-brand-list-group>
    </aside>
    <div class="col">
      TODO: MODEL ARAÇ LİSTESİ
    </div>
  </div>
</main>

<app-footer></app-footer>

<!-- {{ title }}

{{ counter }}
<button
  *ngIf="counter < 10; else decrementButton"
  type="button"
  (click)="onIncrementButtonClicked($event)"
>
  Arttır
</button>
<ng-template #decrementButton>
  <button type="button" (click)="onDecrementButtonClicked($event)">
    Azalt
  </button>
</ng-template>

<ul>
  <li>BMW</li>
  <li>Mercedes</li>
  <li>Audi</li>
  <li>VW</li>

  <li *ngFor="let brand of brands">
    {{ brand.name }}
  </li>

  <ng-template ngFor let-brand [ngForOf]="brands">
    <li *ngIf="!brand.discontinued">
      {{ brand.name }}
    </li>
  </ng-template>
</ul>

<ng-template [ngIf]="counter > 0">
  {{ title }}
</ng-template>

<ng-template [ngIf]="counter < 10" [ngIfElse]="decrementButton">
  {{ title }}
</ng-template>

<p [ngSwitch]="counter">
  <ng-template [ngSwitchCase]="1"> Counter min value. </ng-template>

  <ng-template [ngSwitchCase]="10"> Counter max value. </ng-template>

  <ng-template ngSwitchDefault> Counter default value. </ng-template>
</p> -->
