<form [formGroup]="brandForm" (submit)="onBrandFormSubmitted()">
  <!-- FormGroup, içinde barındırdığı control'leri bizim için gruplar ve genel kontrolünü gerçekleştirir. -->
  <div class="form-group mb-3">
    <label for="brandNameInput">Brand Name</label>
    <input
      type="text"
      formControlName="name"
      id="brandNameInput"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          brandForm.get('name')!.invalid && brandForm.get('name')!.touched
      }"
      placeholder="Enter brand name"
      aria-describedby="brandNameInputFeedback"
    />
    <div id="brandNameInputFeedback" class="invalid-feedback">
      <div *ngIf="brandForm.get('name')!.errors?.['required']">
        Brand name is required!
      </div>

      <div *ngIf="brandForm.get('name')!.errors?.['minlength']">
        Brand name must be at least
        {{ brandForm.get('name')!.errors?.['minlength'].requiredLength }}
        characters!
      </div>
    </div>
    <!-- formControlName, FormGroup içerisindeki alanları input'lara, aynı key üzerinden, bağlamak için kullanıyoruz. -->
  </div>

  <!-- <div class="form-group mb-3">
    <label for="brandDescriptionInput">Brand Description</label>
    <textarea
      class="form-control"
      id="brandDescriptionInput"

      formControlName="description"

      rows="3"
      placeholder="Enter brand description"
    ></textarea>
  </div> -->

  <button
    type="submit"
    class="btn"
    [ngClass]="{
      'btn-primary': !isEditForm,
      'btn-success': isEditForm
    }"
    [disabled]="brandForm.invalid || isLoading"
  >
    {{ isEditForm ? "Edit" : "Add" }}
  </button>
  <button
    *ngIf="isEditForm"
    (click)="onBrandDeleted()"
    type="button"
    class="btn btn-danger ms-3"
    [disabled]="isLoading"
  >
    Delete
  </button>

  <span *ngIf="isLoading" class="spinner-border text-primary ms-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </span>
</form>
